.centraForm{
    margin-top: 40%;
    
}

.fechaActual{
    position: absolute;
    bottom: 0;
    left: 1em;
}

@media only screen and (min-width: 990px) {
    .container{
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .centraForm{
        width: 70%;
    }
}